{% extends 'nutri/base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-7">
  	<h2 class="text-center text-uppercase" style="margin-top: 2em; ">{{patient.name}}</h2>
  	<div class="text-center text-secondary">Teléfono:
  	<span class="text-info">{{patient.phone}}</span>
    </div>
  	<div class="text-center text-secondary text-capitalize">Dirección: {{patient.address}}</div>
  	<div class="text-center text-secondary">
  		Sexo:
      {% if patient.gener == 'MA' %}
  	    Masculino
  	  {% else %}
  	    Femenino
  	  {% endif %}
    </div>
    <div class="text-center text-secondary">Fecha de nacimiento: {{patient.birth_date|date:"j N Y"}}</div>
  </div>
</div>
<div class="row justify-content-center">
  {% if statistics %}
    <a href="{% url 'nutri:cal' patient.id %}" class="btn btn-warning mt-5 mr-2">Ver Consultas</a>
  {% else %}
    <h4 class="text-center" style="margin-top: 2em;">Aun no tiene consulta el paciente</h4>
  {% endif %}
  <a href="{% url 'nutri:add_statistic' patient.id %}">
    <button class="btn btn-primary mt-5">Crear consulta</button>
  </a>
</div>
{% endblock %}
