{% extends 'nutri/base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-6" style="margin-top: 2em;">
  	<h2 class="text-center text-uppercase" style="margin-top: 2em; ">{{patient.name}}</h2>
  	<form action="{% url 'nutri:add_statistic' patient.id %}" method="post">
      {% csrf_token %}
      <label for="weight" class="mt-3">Peso:</label>
  	  <input class="form-control" type="text" name="weight" placeholder="60.9">
  	  <label for="weight" class="mt-3">Altura:</label>
  	  <input class="form-control" type="text" name="height" placeholder="1.70">
  	  {% if diets %}
        <label for="diet" class="mt-3">Dieta:</label>
  	    <select class="custom-select" id="inputGroupSelect01">
          <option selected>Dieta...</option>
          {% for diet in diets %}
            <option value="{{diet.id}}">{{diet.name}}</option>
          {% endfor %}
        </select>
      {% endif %}
  	  <button type="submit" class="btn btn-info mt-3">Enviar</button>
    </form>

{% endblock %}