{% extends 'nutri/base.html' %}

{% load socialaccount %}

{% block content %}
<!-- LOGIN FORM -->
<h2 class="text-center mt-2">Iniciar sesión</h2>
<div class="row justify-content-center align-self-center">
  <div class="col-md-5 mt-5 col-sm-12">
    <div class="card border-success">
      <div class="card-body">
        <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
          <div class="form-group">
            <label for="id_login">Usuario o E-mail</label>
            <input class="form-control" name="login" id="id_login" placeholder="usuario o email">
          </div>
          <div class="form-group">
            <label for="id_password">Contraseña</label>
            <input class="form-control" name="password" id="id_password" placeholder="********" type="password">
          </div>
          <div class="form-group ml-3">
            <input id="id_remember" name="remember" type="checkbox">
            <label for="id_remember">Recuerdame</label>
          </div>
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          {% if form.errors %}
            <div class="row justify-content-center">
              <span class="text-center" style="color: white">ERROR usuario o password incorrectos<span>
            </div>
          {% endif %}
          <div class="row justify-content-center">
            <div class="col-3">
              <button type="submit" class="btn btn-info float-center">ENTRAR</button>
            </div>
            <div class="col-3">
              <a href="{% url 'account_signup' %}" class="btn btn-secondary">Registrate</a>
            </div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}